<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/public/css/main.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/public/js/libs/jquery-2.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/public/js/libs/knockout-3.4.0.js")" type="text/javascript"></script>

    @RenderSection("headscript", false)

</head>
<body>
    <div class="todo-wrapper">
        <h1 class="title1">To Do App Pictet</h1>

        <nav>
            @Html.ActionLink("Tasks", "Index", "Home")
            @Html.ActionLink("Users", "Users", "Home")
        </nav>

        @RenderBody()

    </div>
</body>
</html>
