@model IEnumerable<TodoList.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headscript
{
    <script src="~/public/js/libs/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/public/js/tasks.js" type="text/javascript"></script>
}
<div id="error" class="validation-summary-errors"></div>

<div class="create-task-wrapper">
    <h2 class="title">Add Task</h2>
    <form class="input-area" action="" data-bind="submit: addTask">
        <div class="labels labels--input">
            <span class="task-title">Title</span>
            <span class="task-description">Description</span>
            <span class="task-author">Created By</span>
            <span class="task-asignee">Asignee</span>
            <span class="task-status">Status</span>
        </div>

        <div class="task-inputs">
            <input type="text" class="task-title-input" data-bind="value: newTaskText" placeholder="Task Title">
            <input type="text" class="task-description-input" data-bind="value: description" placeholder="Description">
            <select name="" id="" class="task-author-input" data-bind="value: createdBy">
                <option value="0">Unknown</option>
                @foreach (var user in Model)
                {
                    <option value="@user.userId">@user.firstName @user.lastName</option>
                }
            </select>
            <select name="" id="" class="task-asignee-input" data-bind="value: assignedTo">
                <option value="0">Unassingned</option>
                @foreach (var user in Model)
                {
                    <option value="@user.userId">@user.firstName @user.lastName</option>
                }
            </select>
            <select name="" id="" class="task-status-input" data-bind="submit: addTask">
                <option value="1">To Do</option>
                <option value="2">In Progress</option>
                <option value="3">Done</option>
            </select>
            <input type="submit" class="task-submit" value="Add Task">
        </div>
    </form>
</div>

<div class="list-task-wrapper" data-bind="visible: tasks().length > 0">
    <h2 class="title">Task list</h2>

    <br/>
    You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)

    <div class="labels labels--input">
        <span class="task-title">Title</span>
        <span class="task-description">Description</span>
        <span class="task-author">Created By</span>
        <span class="task-asignee">Asignee</span>
        <span class="task-status">Status</span>
    </div>

    <div class="task-list-area">
        <ul class="task-list">
            <!-- ko foreach: sortedTasks -->
            <li class="task-element">
                <input type="text" class="task-title-input" data-bind="value: title">
                <input type="text" class="task-description-input" data-bind="value: description">
                <select name="" id="" class="task-author-input" data-bind="value: createdBy">
                    <option value="0">Unknown</option>
                    @foreach (var user in Model)
                    {
                        <option value="@user.userId">@user.firstName @user.lastName</option>
                    }
                </select>
                <select name="" id="" class="task-asignee-input" data-bind="value: assignedTo">
                    <option value="0">Unassingned</option>
                    @foreach (var user in Model)
                    {
                        <option value="@user.userId">@user.firstName @user.lastName</option>
                    }
                </select>
                <select name="" id="" class="task-status-input" data-bind="value: status">
                    <option value="1">To Do</option>
                    <option value="2">In Progress</option>
                    <option value="3">Done</option>
                </select>
                <input type="submit" class="task-remove" data-bind="click: remove" value="X">
            </li>
            <!-- /ko -->
        </ul>

    </div>
    <span data-bind="visible: incompleteTasks().length == 0">All tasks are complete</span>
</div>
