@model IEnumerable<TodoList.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headscript
{
    <script src="~/public/js/libs/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/public/js/tasks.js" type="text/javascript"></script>
}
<div id="error" class="validation-summary-errors"></div>
<h2> Add Task</h2>

<form data-bind="submit: addTask">
    <div>
        <span class="title">Title</span>
        <span class="description">Description</span>
        <span>Created By</span>
        <span>Assigned To</span>
        <span>Status</span>
    </div>

    <input class="title" data-bind="value: newTaskText" placeholder="Task Title"/>
    <input class="description" data-bind="value: description" placeholder="Description"/>
    <select data-bind="value: createdBy">
        <option value="0">Unknown</option>
        @foreach (var user in Model)
        {
            <option value="@user.userId">@user.firstName @user.lastName</option>
        }
    </select>
    <select data-bind="value: assignedTo">
        <option value="0">Unassingned</option>
        @foreach (var user in Model)
        {
            <option value="@user.userId">@user.firstName @user.lastName</option>
        }
    </select>
    <select data-bind="value: status">
        <option value="1">To Do</option>
        <option value="2">In Progress</option>
        <option value="3">Done</option>
    </select>

    <input type="submit" value="Add Task"/>
</form>

<h2>Our Tasks</h2>
<br />
You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)

<ul class="tasks-list" data-bind="visible: tasks().length > 0">
    <li>
        <span class="title">Title</span>
        <span class="description">Description</span>
        <span>Created By</span>
        <span>Assigned To</span>
        <span>Status</span>
    </li>

    <!-- ko foreach: sortedTasks -->
    <li style="list-style-image: url('/images/task.png')" data-bind="css: {enabled: status() != 3}">
        <input class="title" data-bind="value: title" />
        <input class="description" data-bind="value: description" />
        <select data-bind="value: createdBy">
            <option value="0">Unknown</option>
            @foreach (var user in Model)
            {
                <option value="@user.userId">@user.firstName @user.lastName</option>
            }
        </select>

        <select data-bind="value: assignedTo">
            <option value="0">Unassingned</option>
            @foreach (var user in Model)
            {
                <option value="@user.userId">@user.firstName @user.lastName</option>
            }
        </select>

        <select data-bind="value: status">
            <option value="1">To Do</option>
            <option value="2">In Progress</option>
            <option value="3">Done</option>
        </select>

        <input type="button" href="#" data-bind="click: remove" value="x" />
    </li>
    <!-- /ko -->
</ul>

<span data-bind="visible: incompleteTasks().length == 0">All tasks are complete</span>
